ol,
ul {
  padding-left: 30px;
}

.status {
  margin-bottom: 10px;
  margin-left: 30px;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.game-info {
  margin-left: 20px;
}

.button {
  display: inline-block;
  margin-left: 2.5rem;
}
